<div>
	<h3>Seja bem vindo! </h3>
	<p>Escolha uma das opções de login:</p>
	<ol>
		<li>
			<%= link_to "Área Administrativa", orders_url(subdomain: "admin") %>
		</li>
		<li>
			<%= link_to "Comanda Virtual", orders_url(subdomain: "comandavirtual") %>
		</li>
		<li>
			<%= link_to "Pedidos da Cozinha", orders_url(subdomain: "pedidos") %>
		</li>
	</ol>
</div>
