<div>
  <h1><%= t("actions.employee.edit")%></h1>

  <%= render "form", employee: @employee %>

  <%= link_to t("actions.employee.edit"), @employee %>
  <%= link_to t("actions.employee.back"), employees_path %>
</div>
