<div>
  <% if notice.present? %>
    <p id="notice"><%= notice %></p>
  <% end %>

  <div>
    <h1><%= @employees.model_name.human(count:@employees.count)%></h1>
    <%= link_to t("actions.employee.new"), new_employee_path %>
  </div>

  <div id="employees">
    <%= render @employees %>
  </div>
</div>
