<div class="pb-4">
  <div class="d-flex justify-content-center align-items-center mb-4">
    <h1 class="text-decoration-none">
      <%= t("actions.order.new") %>
    </h1>
  </div>

  <%= render "form", order: @order %>

  <button class="btn btn-danger mt-2">
    <%= link_to t("actions.order.back"), orders_path, class:"text-decoration-none text-white"  %>
  </button>
</div>
