<div>
  <h1><%=t("actions.category.edit")%></h1>

  <%= render "form", category: @category %>

  <%= link_to t("actions.category.show"), @category %>
  <%= link_to t("actions.category.back"), categories_path %>
</div>
