<div>
  <% if notice.present? %>
    <p id="notice"><%= notice %></p>
  <% end %>

  <div>
    <h1><%= @categories.model_name.human(count: @categories.count)%></h1>
    <%= link_to t("actions.category.new"), new_category_path %>
  </div>

  <div id="categories">
    <%= render @categories %>
  </div>
</div>
