<div>
  <h1><%= t("actions.product.edit")%></h1>

  <%= render "form", product: @product %>

  <%= link_to t("actions.product.show"), @product %>
  <%= link_to t("actions.product.back"), products_path %>
</div>
