<div>
  <% if notice.present? %>
    <p id="notice"><%= notice %></p>
  <% end %>

  <div>
    <h1><%= @orders.model_name.human(count: @orders.count) %></h1>
    <%= link_to t("actions.order.new"), new_order_path %>
  </div>

  <div>
    <%= render @orders %>
  </div>
</div>
