<div class="mx-auto md:w-2/3 w-full">
  <ol>
    <li><%= link_to t(:employees), employees_path %></li>
    <li><%= link_to t(:categories), categories_path %></li>
    <li><%= link_to t(:product), products_path %></li>
    <li><%= link_to t(:order), orders_path %></li>
  </ol>
</div>